* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", Sans-serif;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: write;
    cursor: pointer;
}

body {
    padding: 0px;
    font-size: 14px;
    background: #2d2e41;
}

html, body {
    overflow-x: hidden;
}

/* Estilo para o retângulo principal */
header {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    height: 100px;
}

.img-logo {
    height: 70px;
    margin-left: 10px;
}

.retangulo {
    height: 80px;
    margin: 10px 20px 10px 10px;
}

.container-contatos {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 0 auto;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 10px 0px 10px 0px;
    margin: 20px 20px 0px 0px;
}

.phone {
    display: flex;
    color: #04ccfc;
    transition: color 0.3s;
    font-size: 22px;
}

.phone-text {
    padding: 10px;
}

#social-media {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.retangulo span {
    margin: auto 0;
}

.elementor-social-media {
    cursor: pointer;
}

svg {
    fill: #00E1FF;
    width: 20px;
}

nav {
    background-color: #7c00e6;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin: 0;
}

nav ul li a {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: color 0.3s ease;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    top: -0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    color: #039bfe;
    /* Cor ao passar o mouse */
}

nav ul li a:hover::after {
    background-color: #039bfe;
    /* Faz a linha aparecer na mesma cor do texto */
}

.banner {
    width: 100%;
    height: 600px;
    background-image: url('img/255.png');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    padding-top: 120px;
    margin-left: 10px;
    box-sizing: border-box;
}

.banner-contend {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    font-style: normal;
    color: #FFFFFF;
}

.banner-contend-item {
    width: 50%;
}

.banner-contend-title {
    font-family: "Ubuntu", sans-serif;
    font-size: 37px;
    font-weight: 600;
}

.banner-contend-text {
    color: #DBDBDB;
    margin: 10px;
    line-height: 1.6;
    font-size: 16px;
}

.banner-button-whatsapp-svg {
    fill: #ffffff;
    width: 14px;
}

.banner-group-button {
    margin-top: 70px;
    display: flex;
}

.banner-button-whatsapp {
    background-color: #2DCFFF00;
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 30px 30px 30px 30px;
    padding: 15px 35px 15px 35px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-right: 20px;
}

.button-border-blue {
    border-color: #0092fe;
}

.banner-button-whatsapp-svg {
    transition: fill 0.3s ease-in-out;
}

.banner-button-whatsapp-houver:hover {
    background-color: #0092fe;
}

.banner-button-whatsapp-houver-blue:hover {
    border-color: #0092fe;
}


.container-products {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.products-h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    font-size: 40px;
    margin: 40px 0px 0px 0px;
}

.products-h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #E1E1E1;
}

.products {
    margin-top: 60px;
}

.product-img {
    width: 280px;
}

.product-img-featured {
    width: 300px;
}

.product-button-whatsapp-svg {
    fill: #FFFFFF;
    width: 16px;
}

.product-button-whatsapp {
    background-color: #0092fe;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-style: solid;
    border-color: #0092fe;
    border-width: 2px 2px 2px 2px;
    border-radius: 30px 30px 30px 30px;
    padding: 25px 35px 25px 35px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 40px 0px 80px 0px;
}

.product-button-whatsapp:hover {
    transform: scale(1.2);
}

.product-button-whatsapp-houver-blue:hover {
    border-color: #0092fe;
}

.product-button-whatsapp-houver:hover .product-button-whatsapp-svg {
    fill: #000000;
}


.button-whatsapp {
    background-color: #0092fe;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    border-style: solid;
    border-color: #0D5092;
    border-radius: 27px 27px 27px 27px;
    padding: 25px 25px 25px 25px;
    cursor: pointer;
    margin: 70px 0px 20px 0px;
    transition: transform 0.3s ease-in-out;
}

.button-whatsapp:hover {}

.wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    color: #ffffff;
}

.wrapper-h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    font-size: 38px;
    margin: 40px auto;
    text-align: center;
    color: #ffffff;
}

.wrapper-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-elements {}

.wrapper-elements-box {
    width: 275px;
    padding: 45px;
}

.wrapper-elements-box-img {
    width: 88px;
}

.wrapper-elements-box-h3 {
    font-family: "Ubuntu", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.wrapper-elements-box-text {
    font-family: "Ubuntu", Sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.last-call-container {
    background: linear-gradient(to bottom, #2d2e41, #17182d);
    margin-top: 80px;
}

.last-call {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 0 0 0 10px;
    justify-content: space-around;
}

.last-call-information {
    width: 50%;
}

.last-call-img {
    width: 50%;
}

.last-call-information-title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 38px;
    line-height: 49px;
    color: #FFFFFF;
}

.last-call-information-text {
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

footer {
    display: flex;
    background-color: #2d2e41;
    height: 300px;
}

.footer-container {
    margin: 10px auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.footer-img {
    height: 70px;
    margin: 20px auto;
}

.footer-h2 {
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.footer-column {
    width: 300px;
    padding: 10px;
}

.footer-list {
    list-style: none;
    padding-left: 20px;
}

.footer-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-list-item-span {
    padding: 5px;
}

.footer-list-item-link {
    display: flex;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}

.legal-information {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    color: #ffffff;
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    margin-bottom: 40px;
}


.legal-information-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 40px 0px 0px 0px;
    color: #ffffff;
    font-family: "Inter", Sans-serif;
    font-size: 12px;
}

.legal-information-list-item {
    color: #ffffff;
    font-family: "Inter", Sans-serif;
    font-size: 12px;
}

.legal-information-list-item:hover {
    text-decoration: underline;
}


/* MEDIA QUERIES*/

/* 📱 Celulares pequenos (320px - 480px) */
@media (max-width: 480px) {
}

/* 📱📏 Celulares médios e grandes (481px - 767px) */
@media (max-width: 767px) {
}

/* 📲 Tablets e iPads (768px - 1024px) */
@media (max-width: 1100px) {
    .product-img {
        width: 240px;
    }

    .product-img-featured {
        width: 260px;
    }

    .wrapper {
        max-width: 600px;
    }

    .wrapper-line {
        justify-content: center;
    }

    .banner {
        background-position: center center;
    }

    .last-call-img {
    }
}

/* 💻 Laptops e notebooks (1025px - 1366px) */
@media (max-width: 1366px) {
}

/* 🖥️ Monitores Grandes (1367px - 1920px) */
@media (max-width: 1920px) {
}

/* 🖥️📺 Monitores 4K e Ultra-Wide (Acima de 1921px) */
@media (min-width: 1921px) {
}
