* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", Sans-serif;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

body {
    padding: 0px;
    font-size: 14px;
    background: #2d2e41;
}

html,
body {
    overflow-x: hidden;
}

/* Estilo para o retângulo principal */
header {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    height: 100px;
}

.img-logo {
    height: 70px;
    margin-left: 10px;
}

.retangulo {
    height: 80px;
    margin: 10px 20px 10px 10px;
}

.container-contatos {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: 0 auto;
}

.menu-toggle {
    display: none;
}

.menu-mobile.active {
    display: block;
}


.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 10px 0px 10px 0px;
    margin: 20px 20px 0px 0px;
}

.phone {
    display: flex;
    color: #04ccfc;
    transition: color 0.3s;
    font-size: 22px;
}

.phone-text {
    padding: 10px;
}

#social-media {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.retangulo span {
    margin: auto 0;
}

.elementor-social-media {
    cursor: pointer;
}

svg {
    fill: #00E1FF;
    width: 20px;
}

nav {
    background-color: #7c00e6;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin: 0;
}

nav ul li a {
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: color 0.3s ease;
    position: relative;
}

nav ul li a::after {
    content: "";
    position: absolute;
    top: -0px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    color: #039bfe;
    /* Cor ao passar o mouse */
}

nav ul li a:hover::after {
    background-color: #039bfe;
    /* Faz a linha aparecer na mesma cor do texto */
}

.banner {
    width: 100%;
    height: 600px;
    background-image: url('img/255.png');
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    padding-top: 120px;
    margin-left: 10px;
    box-sizing: border-box;
}

.banner-contend {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    font-style: normal;
    color: #FFFFFF;
}

.banner-contend-item {
    width: 50%;
}

.banner-contend-title {
    font-family: "Ubuntu", sans-serif;
    font-size: 37px;
    font-weight: 600;
}

.banner-contend-text {
    color: #DBDBDB;
    margin: 10px 10px 10px 0;
    line-height: 1.6;
    font-size: 16px;
}

.banner-button-whatsapp-svg {
    fill: #ffffff;
    width: 14px;
}

.banner-group-button {
    margin-top: 70px;
    display: flex;
}

.banner-button-whatsapp {
    background-color: #2DCFFF00;
    color: #FFFFFF;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-radius: 30px 30px 30px 30px;
    padding: 15px 35px 15px 35px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-right: 20px;
}

.button-border-blue {
    border-color: #0092fe;
}

.banner-button-whatsapp-svg {
    transition: fill 0.3s ease-in-out;
}

.banner-button-whatsapp-houver:hover {
    background-color: #0092fe;
}

.banner-button-whatsapp-houver-blue:hover {
    border-color: #0092fe;
}


.container-products {
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.products-h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #FFFFFF;
    font-size: 40px;
    margin: 40px 0px 10px 0px;
}

.products-h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #E1E1E1;
}

.products {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 60px;
}

.product-img {
    width: 370px;
}

.product-img-featured {
    width: 390px;
}

.product-button-whatsapp-svg {
    fill: #FFFFFF;
    width: 16px;
}

.product-button-whatsapp {
    background-color: #0092fe;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-style: solid;
    border-color: #0092fe;
    border-width: 2px 2px 2px 2px;
    border-radius: 30px 30px 30px 30px;
    padding: 25px 35px 25px 35px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    margin: 40px 0px 80px 0px;
}

.product-button-whatsapp:hover {
    transform: scale(1.05);
}

.product-button-whatsapp-houver-blue:hover {
    border-color: #0092fe;
}

.product-button-whatsapp-houver:hover .product-button-whatsapp-svg {
    fill: #000000;
}


.button-whatsapp {
    background-color: #0092fe;
    color: #000000;
    font-family: "Montserrat", Sans-serif;
    font-size: 17px;
    font-weight: 600;
    border-style: solid;
    border-color: #0D5092;
    border-radius: 27px 27px 27px 27px;
    padding: 25px 25px 25px 25px;
    cursor: pointer;
    margin: 70px 0px 20px 0px;
    transition: transform 0.3s ease-in-out;
}

.button-whatsapp:hover {}

.wrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    color: #ffffff;
}

.wrapper-h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 900;
    font-size: 38px;
    margin: 40px auto;
    text-align: center;
    color: #ffffff;
}

.wrapper-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-elements {}

.wrapper-elements-box {
    width: 275px;
    padding: 45px;
}

.wrapper-elements-box-img {
    width: 88px;
}

.wrapper-elements-box-h3 {
    font-family: "Ubuntu", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.wrapper-elements-box-text {
    font-family: "Ubuntu", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #DBDBDB;

}

.last-call-container {
    background: linear-gradient(to bottom, #2d2e41, #17182d);
    margin-top: 80px;
}

.last-call {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 0 0 0 10px;
    justify-content: space-around;
}

.last-call-information {
    width: 50%;
}

.last-call-img {
    width: 50%;
}

.last-call-information-title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 38px;
    line-height: 49px;
    color: #FFFFFF;
}

.last-call-information-text {
    font-family: "Source Sans 3", Sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #DBDBDB;
    margin-bottom: 60px;
}

.coverage {
    padding-bottom: 80px;
}

.coverage-map iframe {
    width: 100%;
    height: 100%;
}

.coverage-information {
    margin-left: 60px;
}

.coverage-information p {
    padding-top: 10px;
}

footer {
    display: flex;
    background-color: #2d2e41;
}

.footer-container {
    margin: 50px auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.footer-title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.footer-text {
    font-family: "Source Sans 3", Sans-serif;
    font-weight: 600;
    color: #DBDBDB;
    font-size: 16px;
    padding: 10px 10px 10px 0px;
    margin-bottom: 30px;
}

.footer-text a {
    font-family: "Source Sans 3", Sans-serif;
    font-weight: 600;
    color: #DBDBDB;
    font-size: 16px;
    padding: 10px 10px 10px 0px;
    margin-bottom: 30px;
}

.footer-social-media {
    fill: #ffffff;
    width: 30px;
    margin: 15px 15px 15px 15px;
}

.footer-column-address {
    width: 360px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.footer-column-maps {
    width: 660px;
    height: 350px;
    padding: 10px;
}

.footer-column-maps iframe {
    width: 100%;
    height: 100%;
}

.line {
    background-color: #686a96;
    border: none;
    height: 1px;
    max-width: 1200px;
    margin: auto;
}

.legal-information {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    color: #ffffff;
    font-family: "Inter", Sans-serif;
    font-size: 12px;
    margin-bottom: 40px;
    padding: 10px;
}

.legal-information-img {
    height: 70px;

}

.legal-information-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
}

.legal-information-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 30px 0px 0px 0px;
    color: #ffffff;
    font-family: "Inter", Sans-serif;
    font-size: 12px;
}

.legal-information-list-item {
    color: #ffffff;
    font-family: "Inter", Sans-serif;
    font-size: 12px;
}

.legal-information-list-item:hover {
    text-decoration: underline;
}
.contracts-container {
    padding-bottom: 120px;
}

.contracts {
    display: flex;
    flex-direction: column;
    justify-content: normal;
}

.contracts h1 {
    padding-bottom: 90px;
}

.contracts-item-area {
    display: flex;
    flex-direction: column;
}

.contracts-area a{
    padding: 10px;
}

.contracts-item {

    font-size: 24px;
    color: white;
}

.contracts-item a {
    display: flex;
    align-items: center;
}

.contracts-item img {
    margin-right: 8px;
    width: 60px;
}

.about {
    padding-bottom: 80px;
}

.about hr {
    height: 3px;
}

.about-item {
    margin-bottom: 40px;
    display: flex;
}

.about-item img {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.about-item img:hover {
    filter: brightness(90%);
}

.about-item p {
    color: #DBDBDB;
    padding: 20px 20px 20px 60px;
    margin-bottom: 0px;
}

.about-item h2 {

    padding: 0px 20px 20px 60px;
}

.about-item-bottom {
    margin-top: 40px;
}

.contact {
    padding-bottom: 80px;
    display: flex;
}

.contact-item {
    width: 400px;
}

.contact-item img:hover {
    filter: brightness(90%);
}

.contact-item p {
    padding: 0px 0px 0px 10px;
    margin-bottom: 0px;
    color: #DBDBDB;
    font-size: 16px;
}

.contact-item h2 {
    padding: 0px 0px 0px 10px;
}

.contact-item h3 {
    padding: 20px 0px 0px 10px;
}

.contact-item h3 {
    font-size: 22px;
}

.contact-item a {
    color: #DBDBDB;
}

.contact-social-media-icon {
    width: 20px;
    margin: 10px 10px 10px 10px;
}

.contact-social-media {
    display: flex;
}


/* MEDIA QUERIES*/

/* 🖥️📺 Monitores 4K e Ultra-Wide (Acima de 1921px) */
@media (min-width: 1921px) {}

/* 🖥️ Monitores Grandes (1367px - 1920px) */
@media (max-width: 1920px) {}

/* 💻 Laptops e notebooks (1025px - 1366px) */
@media (max-width: 1366px) {}

/* 📲 Tablets e iPads (768px - 1024px) */
@media (max-width: 1100px) {
    .product-img {
        width: 240px;
    }

    .product-img-featured {
        width: 260px;
    }

    .wrapper {
        max-width: 600px;
    }

    .wrapper-line {
        justify-content: center;
    }

    .banner {
        background-position: center center;
    }

    .last-call-img {}
}

/* 📱📏 Celulares médios e grandes (481px - 767px) */
@media (max-width: 768px) {
    header {
        justify-content: space-between;
    }

    nav {
        height: 10px;
    }

    nav ul {
        padding: 0px;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 120px;
        left: 0px;
        width: 100%;
        height: 90%;
        background-color: #686a96;

    }

    nav ul li a {
        padding: 10px 0px 10px 30px;
        font-size: 28px;
        display: block;
        font-weight: 600;
        color: #FFFFFF;
        transition: color 0.3s ease;
        position: relative;
    }

    nav ul li:hover {
        background-color: #379ecb;
    }


    nav ul li a::after {
        content: none;
    }

    nav ul li a:hover {
        color: #ffffff;
    }

    nav ul li a:hover::after {
        background-color: transparent;
    }

    .menu-toggle {
        width: 60px;
        display: block;
    }

    .menu-toggle svg {
        cursor: pointer;
        width: 40px;
    }

    .banner {
        width: 100%;
        padding-top: 80px;
        background-image: url('img/dasdasd.png');
    }

    .banner-contend-item {
        width: 100%;
    }

    .container-contatos {
        display: none;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .product-img,
    .product-img-featured {
        width: 360px;
    }

    .last-call {
        flex-direction: column;
    }

    .last-call-img {
        width: 100%;
        margin-top: 20px;
    }

    .last-call-information {
        width: 100%;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-column-address {
        width: 100%;
        text-align: center;
    }

    .footer-column-maps {
        width: 100%;
    }

    .legal-information-list {
        flex-direction: column;
    }

    .legal-information-wrapper {
        align-items: center;
    }

    .legal-information {
        flex-direction: column;
        align-items: center;
    }

    .legal-information-img {
        margin-bottom: 30px;
    }

    .about-item {
        align-items: center;
    }

    .about-item h2,
    .about-item p {
        padding: 10px 10px 0 10px;
    }

    .about-item img {
        width: 100%;
        padding: 10px 10px 0 10px;
    }

    .coverage-item {
        flex-direction: column-reverse;
    }

    .coverage-map {
        padding-right: 10px;
        height: 468px;
    }

    .coverage-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding-right: 10px;
    }

    .coverage-information button {
        margin: 20px 0px 80px 0px;
    }

    .contact-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 10px;
    }

    .contact-item button {}


}

/* 📱 Celulares pequenos (320px - 480px) */
@media (max-width: 480px) {
    .banner {
        margin: 0px;
        height: 600px;
    }

    .banner-contend-title {
        margin-bottom: 40px;
    }

    .banner-contend-item {
        margin-left: 0px;
        text-align: center;
    }

    .banner-group-button {
        display: none;
    }

}
