---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Página Inicial">
    <div class="last-call-container about">
        <div class="last-call about-item">
            <img src="img/quemsomos_4.jpg" alt="Getel Telecom - Quem somos">
            <div class="last-call-information">
                <h2 class="last-call-information-title">Quem somos</h2>
                <p class="last-call-information-text">
                    Somos uma empresa de telecomunicações com 24 anos de experiência no mercado. Fundada em 2000, nossa
                    empresa tem como objetivo principal fornecer soluções de comunicação inovadoras, atendendo demandas
                    de telecomunicações do Agronegócio, comunidades, comércio, residências e serviços públicos.
                </p>

                <p class="last-call-information-text">
                    Desde o início de nossas atividades, trabalhamos diligentemente para construir uma reputação de
                    excelência e confiabilidade, no mercado de telecomunicações. Ao longo dos anos, temos investido em
                    tecnologia de ponta e em um time de profissionais altamente qualificados, para garantir que nossos
                    clientes recebam um serviço com qualidade.

                </p>
            </div>
        </div>

        <hr class="line">

        <div class="last-call about-item about-item-bottom">
            <div class="last-call-information">
                <h2 class="last-call-information-title">Nossa Missão e Valores</h2>
                <p class="last-call-information-text text-organization">
                    Nossa missão é fornecer soluções de telecomunicação, que atendam às necessidades dos nossos
                    clientes, seja para residências, empresas, propriedades rurais ou serviços públicos. Estamos
                    comprometidos em oferecer serviços de alta qualidade, com preços competitivos. E prestar um
                    atendimento personalizado e humanizado, para os nossos clientes

                </p>
            </div>
            <img src="img/quemsomos_3.png" alt="Getel Telecom - Quem somos">
        </div>
    </div>
</BaseLayout>
