---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
    <div class="last-call-container contracts-container">
        <div class="last-call contracts">
            <h1 class="last-call-information-title">Documentos para Download</h1>

            <div class="contracts-area">
                <div class="contracts-item">
                    <a href="https://drive.google.com/file/d/1OX9AYsatehqJZiC7rOr55u5Ssr51mlf4/view?usp=sharing" TARGET="_blank">
                        <img src="/img/icon-pdf-file.avif" alt="PDF"/>
                        <span>CONTRATO DE PRESTAÇÃO DE SERVIÇO MULTIMÍDIA - FYI27430-FY98</span>
                    </a>
                    <a href="https://drive.google.com/file/d/1WaektEWlhigNO40ZeCbqOtYlzFQ_aOjt/view?usp=sharing" TARGET="_blank">
                        <img src="/img/icon-pdf-file.avif" alt="PDF"/>
                        <span>CONTRATO DE PRESTAÇÃO DE SERVIÇO MULTIMÍDIA - HEO85887-1311</span>
                    </a>
                    <a href="https://drive.google.com/file/d/1SbOgVYyqQnUL0eWfpU7Onm6U67zY__O6/view?usp=sharing" TARGET="_blank">
                        <img src="/img/icon-pdf-file.avif" alt="PDF"/>
                        <span>CONTRATO DE LOCAÇÂO DE EQUIPAMENTO</span>
                    </a>
                    <a href="https://drive.google.com/file/d/1qLJ0a5orDPaHhLuibuWE9JNlXP2cIGDb/view?usp=sharing" TARGET="_blank">
                        <img src="/img/icon-pdf-file.avif" alt="PDF"/>
                        <span>CONTRATO DE PRESTAÇÃO DE SERVIÇO - SVA</span>
                    </a>
                </div>
            </div>

        </div>

    </div>
</BaseLayout>