<div class="legal-information">
    <img class="legal-information-img" src="/img/logo.png" alt="">
    <div class="legal-information-wrapper">
        <p>Copyright © 2025 Getel Telecom. Todos os direitos reservados. CHAPECO VOIP TELECOMUNICAÇÕES LTDA –
            CNPJ: 12.708.195/0001-08</p>
        <ul class="legal-information-list">
            <li><a class="legal-information-list-item" href="/contracts">Contratos Gerais</a></li>
            <li><a class="legal-information-list-item" href="" target="_blank">Planos de Serviço</a></li>
            <li><a class="legal-information-list-item" href="" target="_blank">Contratos Avulso</a></li>
            <li><a class="legal-information-list-item" href="https://api.whatsapp.com/send?phone=5549999640273"
                   target="_blank">Trabalhe conosco</a>
            </li>
        </ul>
    </div>
</div>
<a href="https://api.whatsapp.com/send?phone=554933195600&text=Ol%C3%A1,%20gostaria%20de%20assinar%20um%20plano%20de%20internet!"
   target="_sel_blank" class="btn-whatsapp-pulse">
    <img src="/img/whatsappbotao.png" width="50px"/>
</a>