<nav>
    <ul class="menu-mobile" id="menu-mobile">
        <li class=""><a href="/" class="elementor-item">Inicio</a></li>
        <li class=""><a href="/about" class="elementor-item">Quem Somos</a></li>
        <li class=""><a href="/#products-id" class="elementor-item">Planos</a></li>
        <li class=""><a href="/service-area" class="elementor-item">Cobertura</a></li>
        <li class=""><a href="/contact" class="elementor-item">Contato</a></li>
        <li class=""><a href="https://central.getel.net.br/central_assinante_web/login" target="_blank"
                        class="elementor-item">Central do Cliente</a></li>
    </ul>
</nav>